name: Update FCP Cafe Website & Publish to GitHub Pages
on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    types: [closed]
  issues:
    types: [opened, closed, labeled, unlabeled]
  release:
    types: [created]

jobs:
  issues_to_markdown:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install axios

      - name: Generate Bug Tracker Markdown
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO_NAME: ${{ github.repository }}
        run: node .github/scripts/issues_to_md.js

      - name: Generate Wish List Markdown
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO_NAME: ${{ github.repository }}
        run: node .github/scripts/issues_to_wishlist.js

      - name: Commit and push if it's necessary
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git diff --quiet && git diff --staged --quiet || (git add docs/_includes/*; git commit -m "Update wishlists"; git push)

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: docs
          path: docs/

  generate_rss:
    runs-on: ubuntu-latest
    needs: issues_to_markdown
    steps:
      - name: Checkout code (main)
        uses: actions/checkout@v3
  
      - name: Copy script to a temporary location
        run: |
          cp .github/scripts/generate_rss.js /tmp/generate_rss.js
  
      - name: Checkout code (retype)
        uses: actions/checkout@v3
        with:
          ref: retype  # <-- Switch to 'retype' branch
  
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
  
      - name: Install dependencies
        run: npm install rss jsdom
  
      - name: Generate RSS Feed
        run: node /tmp/generate_rss.js  # <-- Run script from /tmp
  
      - name: Commit and push if it's necessary
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          if [[ $(git status --porcelain) ]]; then
            git add docs/rss.xml
            git commit -m "Update rss.xml"
            git push
          fi

  publish:
    name: Publish to retype branch
    needs: [issues_to_markdown, generate_rss]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          name: docs
          path: docs/

      - name: Copy rss.xml to a temporary location
        run: |
          cp docs/rss.xml /tmp/rss.xml

      - name: Build and publish using Retype
        uses: retypeapp/action-build@latest
        with:
          license: ${{ secrets.RETYPE_SECRET }}
          
      - name: Push to retype branch
        uses: retypeapp/action-github-pages@latest
        with:
          update-branch: true

      - name: Checkout retype branch
        uses: actions/checkout@v3
        with:
          ref: retype

      - name: Copy rss.xml from the temporary location to retype branch
        run: |
          cp /tmp/rss.xml ./rss.xml
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add rss.xml
          git commit -m "Update rss.xml"
          git push

      - name: Purge CloudFlare cache
        run: |
          curl -X POST "https://api.cloudflare.com/client/v4/zones/${{ secrets.CLOUDFLARE_ZONE_ID }}/purge_cache" \
          -H "Authorization: Bearer ${{ secrets.CLOUDFLARE_API_TOKEN }}" \
          -H "Content-Type: application/json" \
          --data '{"purge_everything":true}'
